/* ==========================================================================
	Imports
/* ========================================================================== */
/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
/* Colors */
/* Font Sizes */
/* Typefaces */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,100);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
/* Spacing */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,100);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section, article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 2.5em;
}

dfn {
  font-style: italic;
}

mark {
  background: #fff;
  color: #444;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* ==========================================================================
	Print styles.
	Inlined to avoid required HTTP connection: h5bp.com/r
/* ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #444;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
/* Colors */
/* Font Sizes */
/* Typefaces */
/* Spacing */
body {
  background: url("/wp-content/themes/kafkasummit/images/background-kafka-summit.png") no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "PT Sans";
  font-size: 16px;
}

h1, h2, h3 {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: magenta;
}
a:hover {
  text-decoration: none;
}

/*======================================
=            Major Elements            =
======================================*/
.navbar {
  padding-top: 18px;
}
.navbar a {
  text-transform: uppercase;
  color: #444;
}
.navbar ul li:last-child a {
  background-color: magenta;
  color: white;
  border-radius: 6px;
  width: 60%;
}

.slide {
  padding-top: 18px;
  padding-bottom: 18px;
}
.slide h2 {
  text-transform: uppercase;
  font-size: 22px;
}
.slide h3 {
  color: magenta;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: bold;
  font-size: 32px;
  margin: 26px 0 0 0;
}

.footer {
  margin-top: 25px;
  padding-bottom: 40px;
}
.footer a {
  color: #999999;
}
.footer p {
  color: #999999;
}
.footer p.copyright {
  color: #666666;
}
.footer h3 {
  color: #b7b7b7;
  margin-bottom: 0;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #b7b7b7;
  weight: 100;
}
.footer ul a {
  color: #b7b7b7;
}
.footer .social {
  margin: 100px 0 20px 0;
}
.footer i {
  color: magenta;
  margin-right: 30px;
}
.footer .disclaimer {
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 12px;
}
.footer .disclaimer ul li a {
  color: #b7b7b7;
  margin-right: 6px;
}

/*=====  End of Major Elements  ======*/
/*----------  Buttons etc.  ----------*/
.btn-primary, .hs-button.primary.large {
  background-color: magenta;
  border-color: magenta;
  border-radius: 4px;
  font-size: 17px;
  padding: 10px;
  color: white;
}

/*----------  Special Sections  ----------*/
#masthead img {
  margin: 0 auto;
}

#join-us {
  box-shadow: inset 0 0 0 1000px rgba(51, 51, 51, 0.7);
  color: white;
}
#join-us p {
  font-weight: 100;
}

#tutorial {
  padding: 40px 0;
}

#get-updates {
  padding-bottom: 18px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}
#get-updates h3 {
  color: white;
  text-align: right;
  padding: 0;
  margin-top: 0;
  font-weight: 400;
}
#get-updates p {
  color: white;
  text-align: right;
  font-size: 18px;
}
#get-updates .thin {
  color: magenta;
  text-transform: uppercase;
}

#call-for-proposals {
  color: magenta;
  text-transform: uppercase;
  padding-bottom: 18px;
}
#call-for-proposals h3 {
  margin: 0 0 0 0;
}

#program-committee h2 {
  margin-bottom: 20px;
}
#program-committee p {
  text-align: center;
}
#program-committee a {
  color: #555;
}

#sponsors {
  text-align: center;
}
#sponsors h3 {
  text-align: left;
}
#sponsors img {
  margin: 12px auto;
}

iframe.google-form {
  min-height: 2600px;
  width: 100%;
}
iframe.google-form .ss-form-container {
  box-shadow: none;
}

body.page-id-12, body.page-id-11 {
  background-image: none;
}

/* hubspot embedded form */
.hbspt-form label {
  display: none;
}
.hbspt-form ul {
  padding: 0;
}

label span {
  padding-left: 0;
}

.inputs-list.multi-container {
  list-style: none;
  margin: 0;
}
.inputs-list.multi-container li {
  margin: 0;
  padding: 0;
}
.inputs-list.multi-container label {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.hs-richtext {
  color: #fff;
}

label span {
  color: #cccccc;
  size: 17px;
  padding-left: 6px;
}

div.input input {
  padding: 8px;
  background-color: #e7e7e7;
  color: #808080;
  margin-bottom: 22px;
  border: none;
}

body.hubspot div.input input {
  padding: 8px;
  background-color: #fff;
  color: #808080;
  margin-bottom: 22px;
}

.submitted-message {
  color: #555;
  font-size: 18px;
}

div.input input {
  margin-bottom: 10px;
  color: #555;
  font-weight: normal;
}

.nav > li > a:focus, .nav > li > a {
  font-size: 14px;
}

.nav > li .sub-menu {
  display: none;
}

.nav > li:hover .sub-menu {
  font-size: 14px;
  display: inline-block;
  z-index: 1000;
  position: static;
}
.nav > li:hover .sub-menu a {
  color: #ff00ff;
}

.nav > li > a:focus, .nav > li > a:hover {
  color: #ff00ff;
  background: transparent;
}

.actions input {
  margin-top: 10px;
}

.hs-richtext {
  margin-bottom: 5px;
}

/* Schedule */
body.post-type-archive-sessions {
  background: none;
}

#schedule h1 {
  padding-bottom: 30px;
}
#schedule #general-session {
  border-bottom: 1px dashed #dddddd;
}
#schedule table {
  font-size: 16px;
}
#schedule table th {
  padding: 20px 12px;
  text-transform: uppercase;
  font-size: 14px;
}
#schedule table td {
  padding: 12px 12px;
  vertical-align: top;
  border-top: 1px dashed #dddddd;
}
#schedule table .time {
  width: 20%;
  text-align: right;
  font-size: 12px;
  text-transform: uppercase;
  border-top: none;
  vertical-align: middle;
}
#schedule table .break {
  text-align: center;
  font-weight: bold;
  color: #999;
  padding: 6px;
  border-radius: 6px;
  background-color: #eee;
}

body.post-type-archive-people .thumbnail {
  margin-bottom: 0;
}

body.post-type-archive-sponsor {
  background: none;
}
body.post-type-archive-sponsor h3 {
  text-align: center;
  margin-bottom: 16px;
}

body.single-sessions h3 {
  color: #000;
}

iframe {
  min-height: 0;
  max-height: 300px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1030px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
@media (min-width: 768px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 100%;
    *width: 100%;
  }
}
@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}
/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}
/* ==========================================================================
	Base
/* ========================================================================== */

/*# sourceMappingURL=global.css.map */
