body {
	background: url($images_dir + 'background-kafka-summit.png') no-repeat;
	background-position: center;
	background-size: cover;
	font-family: $body_font;
	font-size: $body_font_size;
}

h1, h2, h3 {
	font-family: $headline_font;
}

a {
	text-decoration: none;
	color: $color_link;
	&:hover {
		text-decoration: none;
	}
}



/*======================================
=            Major Elements            =
======================================*/
.navbar {
	padding-top: 18px;
		a {
		text-transform: uppercase;
		color: $color_nav;
	}
	ul li {
		&:last-child a {
			background-color: $color_primary;
			color: $color_white;
			border-radius: 6px;
			width: 60%;
		}
	}
}

.slide {
	padding-top: $pad_vertical;
	padding-bottom: $pad_vertical;
	h2 {
		text-transform: uppercase;
		font-size: 22px;
	}
	h3 {
		color: $color_primary;
		text-transform: uppercase;
		line-height: 1.1;
		font-weight: bold;
		font-size: 32px;
		margin: 26px 0 0 0;
	}
}

.footer {
	margin-top: 25px;
	a {
		color: #999999;
	}
	p {
		color: #999999;
		&.copyright {
			color: #666666;
		}
	}
	padding-bottom: 40px;
	h3 {
		color: $color_dark
		;
		margin-bottom: 0;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		color: $color_dark;
		weight: 100;
		a {
			color: $color_dark;
		}
	}
	.social {
		margin: 100px 0 20px 0; 
	}
	i {
		color: $color_primary;
		margin-right: 30px;
	}
	.disclaimer {
		font-weight: bold;
		font-size: 110%;
		margin-bottom: 12px;
		ul li a {
			color: $color_dark;
			margin-right: 6px;
		}
	}
}

/*=====  End of Major Elements  ======*/

/*----------  Buttons etc.  ----------*/
.btn-primary, .hs-button.primary.large {
	background-color: $color_primary;
	border-color: $color_primary;
	border-radius: 4px;
	font-size: 17px;
	padding: 10px;
	color: $color_white;
}



/*----------  Special Sections  ----------*/

#masthead {
	img {
		margin: 0 auto;
	}
}

#join-us, {
	box-shadow: inset 0 0 0 1000px transparentize($color_black, 0.16);
	color: $color_white;
	p {
		font-weight: 100;
	}
}

#tutorial {
	box-shadow: inset 0 0 0 1000px transparentize($color_black, 0.7);
	padding: 40px 0;
}

#get-updates {
	h3 {
		color: $color_black;
		text-align: right;
		padding: 0;
		margin-top: 0;
		font-weight: 400;
	}
	p {
		color: $color_primary;
		text-align: right;
		font-size: 18px;
	}
	.thin {
		color: $color_primary;
		text-transform: uppercase;
	}
	padding-bottom: $pad_vertical;
	
}


#call-for-proposals {
	color: $color_primary;
	text-transform: uppercase;
	padding-bottom: $pad_vertical;
	h3 {
		margin: 0 0 0 0;
	}
}
// Google Form stuff
iframe.google-form {
	min-height: 2600px;
	width: 100%;
	.ss-form-container {
	box-shadow: none;
}
}

// Turn off background image for call for proposal
body.page-id-12, body.page-id-11 {
	background-image: none;
}

/* hubspot embedded form */
.hbspt-form {
	label {
		display: none;
	}
	ul {
		padding: 0;
	}
}
label span {
	padding-left: 0;
}

.inputs-list.multi-container {
	list-style: none;
	margin: 0;
	li {
		margin: 0;
		padding: 0;
	}
	label {
		display: inline-block;
		padding: 0;
		margin: 0;
	}
}

.hs-richtext {
	color: #fff;
}

label span {
	color: #cccccc;
	size: 17px;
	padding-left: 6px;
}

div.input input {
	padding: 8px;
	background-color: #e7e7e7;
	color: #808080;
	margin-bottom: 22px;
	border: none;
}

// hubspot form stuff
body.hubspot {
	div.input input {
	padding: 8px;
	background-color: #fff;
	color: #808080;
	margin-bottom: 22px;
}
}

.submitted-message {
	color: #555;
	font-size: 18px;
}

div.input input {
	margin-bottom: 10px;
	color: #555;
	font-weight: normal;
}

.nav>li>a:focus, .nav>li>a {
	font-size: 14px;
}

.nav>li {
	.sub-menu {
		display: none;
	}
}

.nav>li:hover {
	.sub-menu {
		font-size: 14px;
		display: inline-block;
		z-index: 1000;
		position: static;
		
		a {
			color: #ff00ff;
		}
	}
}

.nav>li>a:focus, .nav>li>a:hover {
	color: #ff00ff;
	background: transparent;
}


.actions input {
	margin-top: 10px;
}

.hs-richtext {
	margin-bottom: 5px;
}